body {
  background-color: #777777;
}

.field {
  width: 150px;
  height: 150px;
  border-style: solid;
  margin: 5px;
}

.row{
  float: left;
}

.active {
  background-color: burlywood;
}

.inactive {
  background-color: #b6b6b6;
}